*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding: 2rem 2rem 6rem;
  display: grid;
  place-content: center;

  background-image: url(/images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

img {
  width: 100%;
  display: block;
  box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
}

ul,
ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-container {
  background-image: url(/images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  display: flex;
  place-content: center;
  padding: 2rem;
  position: relative;
  max-width: 34rem;
}

.img-profile {
  width: 100%;

  border-radius: 5px;
}

.slide-copy-container {
  margin-top: 3rem;
  max-width: 39rem;
  text-align: center;
  color: #202047;
  align-items: center;

  background-image: url(/images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top -2rem left 50%;
}

.slide-name,
.slide-job-title {
  font-size: 0.9375rem;
}

.slide-job-title {
  color: #b9b9ce;
  font-weight: 500;
}

.slide-text {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.slide2 {
  display: none;
}

/*  CAROUSEL   */
.carousel {
  width: 5rem;
  position: absolute;
  bottom: 1rem;
  background: #fff;
  border-radius: 1.75rem;
  padding: 0.75rem 1rem;
  box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);

  display: flex;
  justify-content: space-between;
}

.slide-btn {
  width: 0.5rem;
}

@media screen and (min-width: 600px) {
  .img-container {
    padding: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-position: bottom -12vh right 22vw;
  }

  .img-container {
    min-width: 45rem;
    padding: 3rem;
  }

  .img-profile {
    max-width: 75%;
  }

  .slide-copy-container {
    transform: translateX(11rem);
    text-align: left;
  }

  .slide-text {
    font-size: 2rem;
  }

  .slide-name,
  .slide-job-title {
    font-size: 1.25rem;
  }
} ;
